<div>
    <h1>Enter Details to Create Contact</h1>
</div>
<div class="row">
    <form class="form col-md-11" [formGroup]="createform">
        <i class="fa fa-user-o"></i>
        <input type="text" placeholder="Name" formControlName="name" [(ngModel)]="contact.name" ><br>

        <span style="color: red;" *ngIf="name && name.invalid && name.touched " >
            Invalid Name !
        </span><br>
        <i class="fa fa-users"></i>
        <input type="text" placeholder="Surname"  formControlName="sname" [(ngModel)]="contact.sname" ><br>

        <span style="color: red;" *ngIf="sname && sname.invalid && sname.touched " >
            Invalid Surname !
        </span><br>
        <i class="fa fa-building-o"></i>
        <input type="text" placeholder="Company" formControlName="company"  [(ngModel)]="contact.company"><br>

        <span style="color: red;" *ngIf="company && company.invalid && company.touched " >
            Invalid Company Name !
        </span><br>

        <i class="fa fa-envelope-o"></i>
        <input formControlName="email"  type="email" placeholder="Email"  [(ngModel)]="contact.email" ><br>

        <span style="color: red;" *ngIf="email && email.invalid && email.touched " >
            Invalid Email !
        </span>
        <br>

        <i class="fa fa-phone "></i>
        <input type="text" placeholder="Phone" name="phone" id="phone" formControlName="mobileNumber"  [(ngModel)]="contact.mobileNumber"><br>

        <span style="color: red;" *ngIf="mobileNumber && mobileNumber.invalid && mobileNumber.touched " >
            Invalid phone number !
        </span><br>

        <button [disabled]="createform.invalid" *ngIf="create" id="save" (click)="save()">Save</button>
        <button [disabled]="createform.invalid" *ngIf="!create" id="update" (click)="update()">Update</button>
        <button (click)="reset()" id="reset">Reset</button>
    </form>
    <div class="heading col-md-1">
        <button (click)="close()" class="close-btn">Close</button>
    </div>
</div>