
.example-spacer {
    flex: 1 1 auto;
  }
  .mat-icon-button {
    padding-right: 8px;
    padding-left: 8px;
    width: auto;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 15px;
  }
  .mat-icon-button:hover{
    color: rgb(36, 233, 36);
  }
  .mat-toolbar{
    background-color: rgb(212, 0, 255);
  }