<body>
  <h1><i class="fa fa-user"></i> Contact Book</h1>
  <div class="row">
    <div class="col-md-3">
      <div class="addbtn-div">
        <button class="addbtn" (click)="createContact()"><i class="fa fa-plus"> Create Contact</i></button>
      </div>
    </div>
    <div class="col-md-8 ">
      <table mat-table class="mat-elevation-z8 demo-table" [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="sl">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element; let i = index;">{{i+1}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="sname">
          <th mat-header-cell *matHeaderCellDef>Surname</th>
          <td mat-cell *matCellDef="let element">{{element.sname}}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="company">
          <th mat-header-cell *matHeaderCellDef>Company</th>
          <td mat-cell *matCellDef="let element">{{element.company}}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">{{element.email}}</td>
        </ng-container>

        <ng-container matColumnDef="mobileNumber">
          <th mat-header-cell *matHeaderCellDef>Phone</th>
          <td mat-cell *matCellDef="let element">{{element.mobileNumber}}</td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef>Edit</th>
          <td mat-cell *matCellDef="let element; let i = index;"><button (click)="edit(element.id)"
              class="edit">Edit</button></td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>Delete</th>
          <td mat-cell *matCellDef="let element; let i = index;">
            <!-- <button mat-raised-button (click)="openDialog('0ms', '0ms')">Delete</button> -->
            <button (click)="deletex(element.id)"
              data-toggle="modal" data-target="#DeleteModal" class="delete">Delete</button></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>

  </div>

  <div class="modal" id="DeleteModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-modal-header">
          <h4>Delete Confirmation</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <div class="row col-md-12">
            <h3>Do you want to delete ?</h3>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn cancel-button edit" (click)="fordelete()" data-dismiss="modal">Yes</button>
          <button class="btn cancel-button delete" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

</body>